.live-calendar {
	.live-calendar-filters-wrapper {
		.hb-bg-transparent();

		.multi-select-bc {
			.form-control-select-bc {
				background: @surface-raised !important;
			}
		}

		.time-filters-bc {
			background: @surface-base !important;
			overflow-x: auto !important;

			.time-filters-content {
				display: flex !important;
			}

			.btn.a-outline {
				background: @surface-base !important;
				border: solid 1px @border-medium !important;

				&.a-white {
					background: @accent !important;
					color: @text-strong !important;
				}
			}
		}
	}
}
