.market-filter-bc {
	background: @surface-base !important;
	height: 44px;

	.market-filter-s-bc {
		.form-control-bc {
			background: @surface-raised !important;
			height: 44px;
		}
	}

	.market-filter-cell-bc {
		height: 44px;

		.market-filter-info-bc {
			background: @surface-raised !important;
			line-height: 44px;
		}
	}
}

.live-calendar-market-bc .markets {
	background: @surface-base !important;

	.c-row-bc {
		.c-info-content-bc,
		.c-teams-bc,
		.c-info-more-bc {
			background: @surface-base !important;
		}

		.c-odd-bc .market-bc {
			background: @surface-raised !important;

			&.active {
				background: @accent !important;
				color: @text-strong !important;
			}
		}
	}
}
