.hdr-toggle-button-bc {
	background: url("@{hb-icon-box-bg}") no-repeat center / contain !important;
	border-radius: 0 !important;
	margin-inline-start: @hb-space-2 !important;
}

.smart-panel-is-visible {
	.hdr-toggle-button-bc {
		color: @text-muted !important;
	}
}
