// Homepage shell — #root.is-home-page

#root.is-home-page {
	.layout-content-holder-bc {
		.slider-bc {
			.sdr-item-holder-bc {
				aspect-ratio: @hb-mobile-hero-aspect !important;

				.sdr-item-bc {
					&::before {
						display: none !important;
					}

					.sdr-image-bc {
						height: auto !important;
					}
				}
			}

			.swiper-pagination {
				font-size: @hb-mobile-slider-pagination-size !important;
				height: fit-content !important;
			}
		}

		@import "rows/index.less";
	}
}
