@use "../../../abstracts" as *;

.live {
	.layout-content-holder-bc {
		.horizontalList {
			.horizontal-sl {
				&-list-container {
					padding-top: space(small-gap) !important;
				}

				&-item-bc {
					padding: 0 !important;
					height: 44px;
					min-width: 44px;
					background: color-hex(border-blue) !important;

					&.active {
						background: color-hex(nav-border-blue) !important;
						z-index: 2;
					}
				}

				&-icon-bc {
					height: 20px;
					font-size: 20px;

					& + .horizontal-sl-title-bc {
						display: none !important;
					}
				}

				&-count-bc {
					background: color-hex(ds-button-blue) !important;
					top: -2px !important;
					right: -2px !important;
					left: auto !important;
					padding: 0 4px !important;
					height: 16px;
					border-radius: radius(sm);
					line-height: 1;
					display: flex;
					justify-content: center;
					align-items: center;
				}
			}
		}
	}
}
