.product-banner-container-bc .carouselWrapper {
	margin-inline-start: 0 !important;

	.swiper-slide {
		a,
		button {
			justify-content: center;

			img {
				width: 100% !important;
				height: 100% !important;
				object-fit: cover !important;
				object-position: center !important;
			}
		}
	}
}
