@use "../abstracts" as *;

.casinoGameItem {
	border-radius: radius();

	.casinoGameItemBlock {
		.casinoGameButtons {
			.casinoBtnWrp {
				.ds-btn {
					border-radius: radius();
					background: color-hex(main-color) !important;
				}
				&:nth-child(1) {
					.ds-btn {
						background: color-hex(border-blue) !important;
					}
				}
			}
		}
	}
}
