@use "../abstracts" as *;

.casinoGameTournamentListItemWrp {
	.tournamentSectionDate .dataStatusTxt,
	.tournamentPrizeFundTxt {
		color: color-hex(link-gray) !important;
		@include type(9px, 400, 14px);
	}
	.tournamentSectionMoney {
		color: color-hex(cyan);
		text-shadow: none !important;
	}
}
