@use "../abstracts" as *;

.ds {
	$ds: &;

	&-btn {
		// background: color-hex(ds-button-blue) !important;
		border-radius: radius() !important;

		#{$ds}-label {
			color: color-hex(white-color) !important;
			@include type-token(body-control, true);
		}

		&::after {
			display: none !important;
		}
	}

	&-textfield {
		&__field {
			border-radius: radius();
			background: color-hex(market-blue) !important;
			box-shadow: inset 0 0 0 1px color-hex(nav-border-blue) !important;
		}
		&__label {
			color: color-hex(placeholder-gray) !important;
			@include type-token(body-control, true);
		}
		&__input {
			@include type-token(body-control, true);

			&::placeholder {
				color: color-hex(placeholder-gray) !important;
				@include type-token(body-control, true);
			}
		}
	}

	&-select {
		&__field {
			border-radius: radius();
			background: color-hex(main-color) !important;
		}
		&__text &__label {
			color: color-hex(white-color) !important;
		}
	}

	&-chip {
		@include reset-box-shadow;
		@include reset-bg-color;

		color: color-hex(text-gray);
		padding: space(medium-spacing) space(default-spacing);
		height: 32px;

		@at-root .horizontal-scroll__inner:has(&) {
			gap: space(small-gap);
		}

		&:has(.chip__icon) {
			height: 40px;
			background-color: color-hex(border-blue) !important;
			color: color-hex(ds-chip-gray) !important;
			@include type-token(body-semibold);
		}

		border-radius: radius();

		&--selected {
			background: color-hex(border-blue) !important;
			color: color-hex(white-color) !important;
		}

		.horizontal-scroll & {
			&--selected {
				background-color: color-hex(main-color) !important;
				color: color-hex(white-color) !important;
			}
		}

		.ds-label {
			font-size: 11px;
			font-weight: 600;
			line-height: 16px;
			letter-spacing: 0.01em;
		}
	}
}
