@use "../abstracts" as *;

.popup-t-logo-w-bc {
	height: layout(logo-height);
}

.e-p-header-bc {
	padding-inline-end: calc(space(default-spacing) + #{layout(icon-hit)} + #{space(small-spacing)});
	padding-inline-start: space(default-spacing);
}

#base_popup_id {
	.e-p-close-icon-bc {
		@include default-icon-background;
		top: 10px !important;
		right: 16px !important;
		width: layout(icon-hit);
		height: layout(icon-hit);
		display: flex;
		justify-content: center;
		font-size: 9px;
		font-weight: 700;
		&::before {
			line-height: layout(icon-hit);
			top: 1px;
			position: relative;
			color: color-hex(link-gray);
		}
	}
}

.e-p-section-title-bc {
	@include first-letter-capitalize;
	color: color-hex(white-color);
	font-size: 12px;
}
