.logo-container {
    margin-inline-end: 0px !important;

    .logo {
        .hdr-logo-bc {
            width: @hb-logo-width;
            height: @hb-logo-height;
            padding: 0 !important;
        }
    }
}
