@use "../../abstracts" as *;

.ds-popup-backdrop {
	background: rgba(7, 10, 13, 0.7);
	backdrop-filter: blur(10px);

	.ds-popup {
		background: color-rgba-rgb(header, 1) !important;
		border: solid 1px color-rgba(white-color, 0.08) !important;

		.ds-btn {
			height: 48px;
			max-height: 48px;
			&.ds-btn-variant--secondary {
				background: color-rgba(main-color, 1) !important;
				color: color-hex(white-color) !important;
			}
		}
	}
}
