.u-i-e-p-p-content-bc .filter-form-w-bc {
	.hb-bg-transparent();
	padding: 0 !important;
}

.historyList-thead .historyListEl-list-item,
.balance-thead-item {
	background: @surface-elevated !important;
}

.historyList-tbody > .historyListEl .historyListEl-list-item {
	background: @surface-base !important;
}

.balance-tbody-item {
	background: @surface-raised !important;
}

.balanceHistoryDetails {
	background: @surface-base !important;
}

[data-status="1"] {
	color: @highlight !important;
}
