.ds-popup__content {
	.casinoProvidersPopupContent {
		.casinoProvidersPopupContent__search {
			padding-bottom: @hb-space-3 !important;

			.ds-textfield {
				.ds-textfield__field {
					height: 48px !important;
					border: solid 1px @border-medium !important;
				}
			}
		}
		.casinoProvidersPopupContent__underSearchContent {
			.casinoProvidersPopupContent__section {
				.casinoProvidersPopupContent__titleToggleContainer {
					.ds-label {
						.hb-text(17px; 28px; 600; @white);
					}
				}
				.casinoProvidersPopupContent__grid {
					.providerItemsInner {
						background: @surface-raised !important;
						border-radius: @hb-radius !important;
					}
					.providerItemsBtn {
						svg {
							path,
							rect,
							polygon {
								fill: @white !important;
							}
						}
					}
				}
			}
		}
	}
}
