.ds-popup__content {
	.casinoProvidersPopupContent {
		.casinoProvidersPopupContent__search {
			padding-bottom: @hb-space-3 !important;

			.ds-textfield {
				.ds-textfield__field {
					height: 48px !important;
					border: solid 1px @border-medium !important;
				}
			}
		}
		.casinoProvidersPopupContent__underSearchContent {
			.casinoProvidersPopupContent__section {
				.casinoProvidersPopupContent__titleToggleContainer {
					.ds-label {
						.hb-text(17px; 28px; 600; @white);
					}
				}
				.casinoProvidersPopupContent__grid {
					.providerItemsInner {
						background: @surface-raised !important;
						border-radius: @hb-radius !important;

						&.active {
							border: solid 2px @highlight !important;
						}
					}
					.providerItemsBtn {
						svg {
							path,
							rect,
							polygon {
								fill: @white !important;
							}
						}
					}
				}
			}
		}
		.casinoProvidersPopupContent__footer {
			.hb-bg-transparent();

			&::before {
				content: "";
				position: absolute;
				left: 0;
				bottom: 0;
				height: 200px;
				width: 100%;
				background: linear-gradient(to top, @surface-header 30%, fade(@surface-header, 0%) 100%);
				pointer-events: none;
			}

			.ds-btn {
				&:first-child {
					background: @surface-control !important;
				}
				&:last-child {
					background: @main-color !important;
					.hb-text(13px; 20px; 700; @white) !important;
				}
				&:disabled {
					opacity: 0.8 !important;
				}
			}
		}
	}
}
