.ds-popup__content {
	.randomGamePopupContent {
		.randomGamePopupBtnGroup {
			.ds-btn-variant--transparent {
				background: @surface-control !important;
				height: 48px;
				max-height: 48px !important;
				border-radius: 6px;
				.hb-text(15px; 20px; 600; @white) !important;
			}

			.ds-btn-variant--secondary {
				height: 48px;
				max-height: 48px !important;
				background: @main-color;
				border-radius: 6px;
				.hb-text(15px; 20px; 600; @white) !important;
			}
		}
	}
}
