.horizontalCategoryItemWrp {
	&:hover,
	&.active {
		.horizontalCategoryItem {
			&:before {
				background: @main-color !important;
			}
		}
		i {
			color: @white !important;
		}
	}
	.horizontalCategoryItem {
		&:before {
			background: rgba(@white-rgb, 0.08) !important;
		}
	}
}

.jackpot-pool {
	background: rgba(@white-rgb, 0.04) !important;
}

.casino-jackpot-games__search {
	width: 100% !important;
}

.ds-textfield.ds-textfield-layout--fill .ds-textfield__field {
	background: #1c2835 !important;
	border-radius: @hb-radius !important;
	box-shadow: none !important;
}
