#root .footerWrapper {
  box-shadow: none !important;
}
#root .casinoNavigationAndFilters {
  border-top: solid 1px #233243 !important;
  margin: 0;
  margin-bottom: 24px;
}
#root .casinoNavigationAndFilters .casinoCategories {
  padding-top: 24px;
  padding-bottom: 12px;
}
#root .casinoLobbyContainer .hm-row-bc:nth-child(n + 4) {
  border-top: solid 1px #233243 !important;
  padding-top: 24px;
  margin-top: 24px;
}
#root .casinoLobbyContainer .tournamentsWidgetInfo:before {
  display: none;
}
