#root {
	.content-manager {
		&:has(.popup-inner-bc .register) {
			.e-p-close-icon-bc {
				top: 19px;
				right: 12px;
			}

			.e-p-header-bc {
				height: 72px;
				padding: 12px 68px 12px 20px;

				.popup-t-logo-w-bc {
					height: 48px;

					.hdr-logo-bc {
						padding: 0;
					}
				}
			}

			.entrance-form-bc {
				&.registration.popup {
					padding: 20px;

					.reg-form-content {
						padding-top: 0;
						width: 100%;
						max-width: 460px;
					}

					.sg-n-text-row-1-bc {
						.hb-text(15px, 24px, 400, #BCCBDC);
					}

					.sg-n-text-row-2-bc {
						.hb-text(20px, 24px, 400, #FFFFFF);
						margin-bottom: 20px;
					}

					.sg-n-text-row-1-bc,
					.sg-n-text-row-2-bc,
					.entrance-f-item-bc,
					.entrance-form-action-item-bc,
					.sg-n-forgot-password-text {
						padding: 0;
					}

					.entrance-form-content-bc {
						.slider-bc {
							width: 240px;
						}
						.reg-form-content {
						}
					}
					.reg-form-footer-bc {
						.entrance-form-actions-holder-bc {
							margin-top: 0;
							margin-bottom: 0;
							padding-top: 0;
						}
					}
				}
			}
		}
	}
}
