.i-soccer, .i-basketball, .i-tennis-balls, .i-volleyball, .i-ice-hockey, .i-handball, .i-table-tennis, .i-boxing, .i-beach-soccer, .i-beach-volley, .i-cricket, .i-dart, .i-golf, .i-rugby, .i-pickleball, .i-baseball, .i-biathlon, .i-globe, .i-snooker, .i-angola, .i-argentina, .i-australia, .i-brazil, .i-canada, .i-england, .i-estonia, .i-european-union, .i-france, .i-germany, .i-india, .i-italy, .i-kazakhstan, .i-lebanon, .i-malaysia, .i-mexico, .i-myanmar, .i-netherlands, .i-new-zealand, .i-paraguay, .i-peru, .i-portugal, .i-south-korea, .i-spain, .i-tanzania, .i-turkey, .i-united-kingdom, .i-united-states, .i-uruguay, .i-uzbekistan, .i-vietnam, .i-live-betting, .i-sports, .i-casino, .i-live-casino, .i-vip-slot, .i-crash-games, .i-aviator, .i-special-odds, .i-virtual-sports, .i-esports, .i-tv-games, .i-hep-tv, .i-hep-market, .i-coupon-wars, .i-affiliate, .i-promotions, .i-hepbet-iptv, .i-star, .i-search, .i-calendar, .i-clock, .i-stopwatch, .i-scoreboard, .i-more, .i-menu, .i-padlock, .i-gift-box, .i-call-back, .i-diamond, .i-headset, .i-whatsapp, .i-telegram, .i-wallet, .i-column-chart, .i-trend, .i-live-rtp {
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
  gap: 8px;
}
.i-soccer :is(svg, .CMSIconSVGWrapper), .i-basketball :is(svg, .CMSIconSVGWrapper), .i-tennis-balls :is(svg, .CMSIconSVGWrapper), .i-volleyball :is(svg, .CMSIconSVGWrapper), .i-ice-hockey :is(svg, .CMSIconSVGWrapper), .i-handball :is(svg, .CMSIconSVGWrapper), .i-table-tennis :is(svg, .CMSIconSVGWrapper), .i-boxing :is(svg, .CMSIconSVGWrapper), .i-beach-soccer :is(svg, .CMSIconSVGWrapper), .i-beach-volley :is(svg, .CMSIconSVGWrapper), .i-cricket :is(svg, .CMSIconSVGWrapper), .i-dart :is(svg, .CMSIconSVGWrapper), .i-golf :is(svg, .CMSIconSVGWrapper), .i-rugby :is(svg, .CMSIconSVGWrapper), .i-pickleball :is(svg, .CMSIconSVGWrapper), .i-baseball :is(svg, .CMSIconSVGWrapper), .i-biathlon :is(svg, .CMSIconSVGWrapper), .i-globe :is(svg, .CMSIconSVGWrapper), .i-snooker :is(svg, .CMSIconSVGWrapper), .i-angola :is(svg, .CMSIconSVGWrapper), .i-argentina :is(svg, .CMSIconSVGWrapper), .i-australia :is(svg, .CMSIconSVGWrapper), .i-brazil :is(svg, .CMSIconSVGWrapper), .i-canada :is(svg, .CMSIconSVGWrapper), .i-england :is(svg, .CMSIconSVGWrapper), .i-estonia :is(svg, .CMSIconSVGWrapper), .i-european-union :is(svg, .CMSIconSVGWrapper), .i-france :is(svg, .CMSIconSVGWrapper), .i-germany :is(svg, .CMSIconSVGWrapper), .i-india :is(svg, .CMSIconSVGWrapper), .i-italy :is(svg, .CMSIconSVGWrapper), .i-kazakhstan :is(svg, .CMSIconSVGWrapper), .i-lebanon :is(svg, .CMSIconSVGWrapper), .i-malaysia :is(svg, .CMSIconSVGWrapper), .i-mexico :is(svg, .CMSIconSVGWrapper), .i-myanmar :is(svg, .CMSIconSVGWrapper), .i-netherlands :is(svg, .CMSIconSVGWrapper), .i-new-zealand :is(svg, .CMSIconSVGWrapper), .i-paraguay :is(svg, .CMSIconSVGWrapper), .i-peru :is(svg, .CMSIconSVGWrapper), .i-portugal :is(svg, .CMSIconSVGWrapper), .i-south-korea :is(svg, .CMSIconSVGWrapper), .i-spain :is(svg, .CMSIconSVGWrapper), .i-tanzania :is(svg, .CMSIconSVGWrapper), .i-turkey :is(svg, .CMSIconSVGWrapper), .i-united-kingdom :is(svg, .CMSIconSVGWrapper), .i-united-states :is(svg, .CMSIconSVGWrapper), .i-uruguay :is(svg, .CMSIconSVGWrapper), .i-uzbekistan :is(svg, .CMSIconSVGWrapper), .i-vietnam :is(svg, .CMSIconSVGWrapper), .i-live-betting :is(svg, .CMSIconSVGWrapper), .i-sports :is(svg, .CMSIconSVGWrapper), .i-casino :is(svg, .CMSIconSVGWrapper), .i-live-casino :is(svg, .CMSIconSVGWrapper), .i-vip-slot :is(svg, .CMSIconSVGWrapper), .i-crash-games :is(svg, .CMSIconSVGWrapper), .i-aviator :is(svg, .CMSIconSVGWrapper), .i-special-odds :is(svg, .CMSIconSVGWrapper), .i-virtual-sports :is(svg, .CMSIconSVGWrapper), .i-esports :is(svg, .CMSIconSVGWrapper), .i-tv-games :is(svg, .CMSIconSVGWrapper), .i-hep-tv :is(svg, .CMSIconSVGWrapper), .i-hep-market :is(svg, .CMSIconSVGWrapper), .i-coupon-wars :is(svg, .CMSIconSVGWrapper), .i-affiliate :is(svg, .CMSIconSVGWrapper), .i-promotions :is(svg, .CMSIconSVGWrapper), .i-hepbet-iptv :is(svg, .CMSIconSVGWrapper), .i-star :is(svg, .CMSIconSVGWrapper), .i-search :is(svg, .CMSIconSVGWrapper), .i-calendar :is(svg, .CMSIconSVGWrapper), .i-clock :is(svg, .CMSIconSVGWrapper), .i-stopwatch :is(svg, .CMSIconSVGWrapper), .i-scoreboard :is(svg, .CMSIconSVGWrapper), .i-more :is(svg, .CMSIconSVGWrapper), .i-menu :is(svg, .CMSIconSVGWrapper), .i-padlock :is(svg, .CMSIconSVGWrapper), .i-gift-box :is(svg, .CMSIconSVGWrapper), .i-call-back :is(svg, .CMSIconSVGWrapper), .i-diamond :is(svg, .CMSIconSVGWrapper), .i-headset :is(svg, .CMSIconSVGWrapper), .i-whatsapp :is(svg, .CMSIconSVGWrapper), .i-telegram :is(svg, .CMSIconSVGWrapper), .i-wallet :is(svg, .CMSIconSVGWrapper), .i-column-chart :is(svg, .CMSIconSVGWrapper), .i-trend :is(svg, .CMSIconSVGWrapper), .i-live-rtp :is(svg, .CMSIconSVGWrapper) {
  display: none !important;
}

.i-live-betting, .i-sports, .i-casino, .i-live-casino, .i-vip-slot, .i-crash-games, .i-aviator, .i-special-odds, .i-virtual-sports, .i-esports, .i-tv-games, .i-hep-tv, .i-hep-market, .i-coupon-wars, .i-affiliate, .i-promotions, .i-hepbet-iptv, .i-star, .i-search, .i-calendar, .i-clock, .i-stopwatch, .i-scoreboard, .i-more, .i-menu, .i-padlock, .i-gift-box, .i-call-back, .i-diamond, .i-headset, .i-whatsapp, .i-telegram, .i-wallet, .i-column-chart, .i-trend, .i-live-rtp {
  background-image: url("https://static-hep.hepbet-static.workers.dev/sass/images/icons/icon-bg.svg");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: var(--icon-box) var(--icon-box);
}

.i-live-betting::before, .i-sports::before, .i-casino::before, .i-live-casino::before, .i-vip-slot::before, .i-crash-games::before, .i-aviator::before, .i-special-odds::before, .i-virtual-sports::before, .i-esports::before, .i-tv-games::before, .i-hep-tv::before, .i-hep-market::before, .i-coupon-wars::before, .i-affiliate::before, .i-promotions::before, .i-hepbet-iptv::before, .i-star::before, .i-search::before, .i-calendar::before, .i-clock::before, .i-stopwatch::before, .i-scoreboard::before, .i-more::before, .i-menu::before, .i-padlock::before, .i-gift-box::before, .i-call-back::before, .i-diamond::before, .i-headset::before, .i-whatsapp::before, .i-telegram::before, .i-wallet::before, .i-column-chart::before, .i-trend::before, .i-live-rtp::before, .i-soccer::before, .i-basketball::before, .i-tennis-balls::before, .i-volleyball::before, .i-ice-hockey::before, .i-handball::before, .i-table-tennis::before, .i-boxing::before, .i-beach-soccer::before, .i-beach-volley::before, .i-cricket::before, .i-dart::before, .i-golf::before, .i-rugby::before, .i-pickleball::before, .i-baseball::before, .i-biathlon::before, .i-globe::before, .i-snooker::before, .i-angola::before, .i-argentina::before, .i-australia::before, .i-brazil::before, .i-canada::before, .i-england::before, .i-estonia::before, .i-european-union::before, .i-france::before, .i-germany::before, .i-india::before, .i-italy::before, .i-kazakhstan::before, .i-lebanon::before, .i-malaysia::before, .i-mexico::before, .i-myanmar::before, .i-netherlands::before, .i-new-zealand::before, .i-paraguay::before, .i-peru::before, .i-portugal::before, .i-south-korea::before, .i-spain::before, .i-tanzania::before, .i-turkey::before, .i-united-kingdom::before, .i-united-states::before, .i-uruguay::before, .i-uzbekistan::before, .i-vietnam::before {
  content: "" !important;
  display: inline-block !important;
  flex-shrink: 0 !important;
  box-sizing: border-box !important;
  font-size: 0 !important;
  line-height: 0 !important;
  color: transparent !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  width: var(--icon-box) !important;
  height: var(--icon-box) !important;
}

.i-live-betting::before, .i-sports::before, .i-casino::before, .i-live-casino::before, .i-vip-slot::before, .i-crash-games::before, .i-aviator::before, .i-special-odds::before, .i-virtual-sports::before, .i-esports::before, .i-tv-games::before, .i-hep-tv::before, .i-hep-market::before, .i-coupon-wars::before, .i-affiliate::before, .i-promotions::before, .i-hepbet-iptv::before, .i-star::before, .i-search::before, .i-calendar::before, .i-clock::before, .i-stopwatch::before, .i-scoreboard::before, .i-more::before, .i-menu::before, .i-padlock::before, .i-gift-box::before, .i-call-back::before, .i-diamond::before, .i-headset::before, .i-whatsapp::before, .i-telegram::before, .i-wallet::before, .i-column-chart::before, .i-trend::before, .i-live-rtp::before {
  background-color: var(--icon-color) !important;
  -webkit-mask: var(--icon-src) center/var(--icon-size) var(--icon-size) no-repeat !important;
  mask: var(--icon-src) center/var(--icon-size) var(--icon-size) no-repeat !important;
}

.i-soccer::before, .i-basketball::before, .i-tennis-balls::before, .i-volleyball::before, .i-ice-hockey::before, .i-handball::before, .i-table-tennis::before, .i-boxing::before, .i-beach-soccer::before, .i-beach-volley::before, .i-cricket::before, .i-dart::before, .i-golf::before, .i-rugby::before, .i-pickleball::before, .i-baseball::before, .i-biathlon::before, .i-globe::before, .i-snooker::before, .i-angola::before, .i-argentina::before, .i-australia::before, .i-brazil::before, .i-canada::before, .i-england::before, .i-estonia::before, .i-european-union::before, .i-france::before, .i-germany::before, .i-india::before, .i-italy::before, .i-kazakhstan::before, .i-lebanon::before, .i-malaysia::before, .i-mexico::before, .i-myanmar::before, .i-netherlands::before, .i-new-zealand::before, .i-paraguay::before, .i-peru::before, .i-portugal::before, .i-south-korea::before, .i-spain::before, .i-tanzania::before, .i-turkey::before, .i-united-kingdom::before, .i-united-states::before, .i-uruguay::before, .i-uzbekistan::before, .i-vietnam::before {
  background-image: var(--icon-src) !important;
  background-size: var(--icon-size) var(--icon-size) !important;
}

.i-live-betting {
  --icon-src: url("https://static-hep.hepbet-static.workers.dev/sass/images/icons/nav/live-betting.svg");
  --icon-box: 28px;
  --icon-size: 16px;
  --icon-color: #0febff;
}
.i-sports {
  --icon-src: url("https://static-hep.hepbet-static.workers.dev/sass/images/icons/nav/sports.svg");
  --icon-box: 28px;
  --icon-size: 16px;
  --icon-color: #0febff;
}
.i-casino {
  --icon-src: url("https://static-hep.hepbet-static.workers.dev/sass/images/icons/nav/casino.svg");
  --icon-box: 28px;
  --icon-size: 16px;
  --icon-color: #0febff;
}
.i-live-casino {
  --icon-src: url("https://static-hep.hepbet-static.workers.dev/sass/images/icons/nav/live-casino.svg");
  --icon-box: 28px;
  --icon-size: 16px;
  --icon-color: #0febff;
}
.i-vip-slot {
  --icon-src: url("https://static-hep.hepbet-static.workers.dev/sass/images/icons/nav/vip-slot.svg");
  --icon-box: 28px;
  --icon-size: 16px;
  --icon-color: #0febff;
}
.i-crash-games {
  --icon-src: url("https://static-hep.hepbet-static.workers.dev/sass/images/icons/nav/crash-games.svg");
  --icon-box: 28px;
  --icon-size: 16px;
  --icon-color: #0febff;
}
.i-aviator {
  --icon-src: url("https://static-hep.hepbet-static.workers.dev/sass/images/icons/nav/aviator.svg");
  --icon-box: 28px;
  --icon-size: 16px;
  --icon-color: #0febff;
}
.i-special-odds {
  --icon-src: url("https://static-hep.hepbet-static.workers.dev/sass/images/icons/nav/special-odds.svg");
  --icon-box: 28px;
  --icon-size: 16px;
  --icon-color: #0febff;
}
.i-virtual-sports {
  --icon-src: url("https://static-hep.hepbet-static.workers.dev/sass/images/icons/nav/virtual-sports.svg");
  --icon-box: 28px;
  --icon-size: 16px;
  --icon-color: #0febff;
}
.i-esports {
  --icon-src: url("https://static-hep.hepbet-static.workers.dev/sass/images/icons/nav/esports.svg");
  --icon-box: 28px;
  --icon-size: 16px;
  --icon-color: #0febff;
}
.i-tv-games {
  --icon-src: url("https://static-hep.hepbet-static.workers.dev/sass/images/icons/nav/tv-games.svg");
  --icon-box: 28px;
  --icon-size: 16px;
  --icon-color: #0febff;
}
.i-hep-tv {
  --icon-src: url("https://static-hep.hepbet-static.workers.dev/sass/images/icons/nav/hep-tv.svg");
  --icon-box: 28px;
  --icon-size: 16px;
  --icon-color: #0febff;
}
.i-hep-market {
  --icon-src: url("https://static-hep.hepbet-static.workers.dev/sass/images/icons/nav/hep-market.svg");
  --icon-box: 28px;
  --icon-size: 16px;
  --icon-color: #0febff;
}
.i-coupon-wars {
  --icon-src: url("https://static-hep.hepbet-static.workers.dev/sass/images/icons/nav/coupon-wars.svg");
  --icon-box: 28px;
  --icon-size: 16px;
  --icon-color: #0febff;
}
.i-affiliate {
  --icon-src: url("https://static-hep.hepbet-static.workers.dev/sass/images/icons/nav/affiliate.svg");
  --icon-box: 28px;
  --icon-size: 16px;
  --icon-color: #0febff;
}
.i-promotions {
  --icon-src: url("https://static-hep.hepbet-static.workers.dev/sass/images/icons/nav/promotions.svg");
  --icon-box: 28px;
  --icon-size: 16px;
  --icon-color: #0febff;
}
.i-hepbet-iptv {
  --icon-src: url("https://static-hep.hepbet-static.workers.dev/sass/images/icons/nav/hepbet-iptv.svg");
  --icon-box: 28px;
  --icon-size: 16px;
  --icon-color: #0febff;
}
.i-star {
  --icon-src: url("https://static-hep.hepbet-static.workers.dev/sass/images/icons/ui/star.svg");
  --icon-box: 28px;
  --icon-size: 16px;
  --icon-color: #0febff;
}
.i-search {
  --icon-src: url("https://static-hep.hepbet-static.workers.dev/sass/images/icons/ui/search.svg");
  --icon-box: 28px;
  --icon-size: 16px;
  --icon-color: #0febff;
}
.i-calendar {
  --icon-src: url("https://static-hep.hepbet-static.workers.dev/sass/images/icons/ui/calendar.svg");
  --icon-box: 28px;
  --icon-size: 16px;
  --icon-color: #0febff;
}
.i-clock {
  --icon-src: url("https://static-hep.hepbet-static.workers.dev/sass/images/icons/ui/clock.svg");
  --icon-box: 28px;
  --icon-size: 16px;
  --icon-color: #0febff;
}
.i-stopwatch {
  --icon-src: url("https://static-hep.hepbet-static.workers.dev/sass/images/icons/ui/stopwatch.svg");
  --icon-box: 28px;
  --icon-size: 16px;
  --icon-color: #0febff;
}
.i-scoreboard {
  --icon-src: url("https://static-hep.hepbet-static.workers.dev/sass/images/icons/ui/scoreboard.svg");
  --icon-box: 28px;
  --icon-size: 16px;
  --icon-color: #0febff;
}
.i-more {
  --icon-src: url("https://static-hep.hepbet-static.workers.dev/sass/images/icons/ui/more.svg");
  --icon-box: 28px;
  --icon-size: 16px;
  --icon-color: #0febff;
}
.i-menu {
  --icon-src: url("https://static-hep.hepbet-static.workers.dev/sass/images/icons/ui/menu.svg");
  --icon-box: 28px;
  --icon-size: 16px;
  --icon-color: #0febff;
}
.i-padlock {
  --icon-src: url("https://static-hep.hepbet-static.workers.dev/sass/images/icons/ui/padlock.svg");
  --icon-box: 28px;
  --icon-size: 16px;
  --icon-color: #0febff;
}
.i-gift-box {
  --icon-src: url("https://static-hep.hepbet-static.workers.dev/sass/images/icons/ui/gift-box.svg");
  --icon-box: 28px;
  --icon-size: 16px;
  --icon-color: #0febff;
}
.i-call-back {
  --icon-src: url("https://static-hep.hepbet-static.workers.dev/sass/images/icons/ui/call-back.svg");
  --icon-box: 28px;
  --icon-size: 16px;
  --icon-color: #0febff;
}
.i-diamond {
  --icon-src: url("https://static-hep.hepbet-static.workers.dev/sass/images/icons/ui/diamond.svg");
  --icon-box: 28px;
  --icon-size: 16px;
  --icon-color: #0febff;
}
.i-headset {
  --icon-src: url("https://static-hep.hepbet-static.workers.dev/sass/images/icons/ui/headset.svg");
  --icon-box: 28px;
  --icon-size: 16px;
  --icon-color: #0febff;
}
.i-whatsapp {
  --icon-src: url("https://static-hep.hepbet-static.workers.dev/sass/images/icons/ui/whatsapp.svg");
  --icon-box: 28px;
  --icon-size: 16px;
  --icon-color: #0febff;
}
.i-telegram {
  --icon-src: url("https://static-hep.hepbet-static.workers.dev/sass/images/icons/ui/telegram.svg");
  --icon-box: 28px;
  --icon-size: 16px;
  --icon-color: #0febff;
}
.i-wallet {
  --icon-src: url("https://static-hep.hepbet-static.workers.dev/sass/images/icons/ui/wallet.svg");
  --icon-box: 28px;
  --icon-size: 16px;
  --icon-color: #0febff;
}
.i-column-chart {
  --icon-src: url("https://static-hep.hepbet-static.workers.dev/sass/images/icons/ui/column-chart.svg");
  --icon-box: 28px;
  --icon-size: 16px;
  --icon-color: #0febff;
}
.i-trend {
  --icon-src: url("https://static-hep.hepbet-static.workers.dev/sass/images/icons/ui/trend.svg");
  --icon-box: 28px;
  --icon-size: 16px;
  --icon-color: #0febff;
}
.i-live-rtp {
  --icon-src: url("https://static-hep.hepbet-static.workers.dev/sass/images/icons/ui/live-rtp.svg");
  --icon-box: 28px;
  --icon-size: 16px;
  --icon-color: #0febff;
}
.i-soccer {
  --icon-src: url("https://static-hep.hepbet-static.workers.dev/sass/images/icons/sports/soccer.svg");
  --icon-box: 20px;
  --icon-size: 20px;
}
.i-basketball {
  --icon-src: url("https://static-hep.hepbet-static.workers.dev/sass/images/icons/sports/basketball.svg");
  --icon-box: 20px;
  --icon-size: 20px;
}
.i-tennis-balls {
  --icon-src: url("https://static-hep.hepbet-static.workers.dev/sass/images/icons/sports/tennis-balls.svg");
  --icon-box: 20px;
  --icon-size: 20px;
}
.i-volleyball {
  --icon-src: url("https://static-hep.hepbet-static.workers.dev/sass/images/icons/sports/volleyball.svg");
  --icon-box: 20px;
  --icon-size: 20px;
}
.i-ice-hockey {
  --icon-src: url("https://static-hep.hepbet-static.workers.dev/sass/images/icons/sports/ice-hockey.svg");
  --icon-box: 20px;
  --icon-size: 20px;
}
.i-handball {
  --icon-src: url("https://static-hep.hepbet-static.workers.dev/sass/images/icons/sports/handball.svg");
  --icon-box: 20px;
  --icon-size: 20px;
}
.i-table-tennis {
  --icon-src: url("https://static-hep.hepbet-static.workers.dev/sass/images/icons/sports/table-tennis.svg");
  --icon-box: 20px;
  --icon-size: 20px;
}
.i-boxing {
  --icon-src: url("https://static-hep.hepbet-static.workers.dev/sass/images/icons/sports/boxing.svg");
  --icon-box: 20px;
  --icon-size: 20px;
}
.i-beach-soccer {
  --icon-src: url("https://static-hep.hepbet-static.workers.dev/sass/images/icons/sports/beach-soccer.svg");
  --icon-box: 20px;
  --icon-size: 20px;
}
.i-beach-volley {
  --icon-src: url("https://static-hep.hepbet-static.workers.dev/sass/images/icons/sports/beach-volley.svg");
  --icon-box: 20px;
  --icon-size: 20px;
}
.i-cricket {
  --icon-src: url("https://static-hep.hepbet-static.workers.dev/sass/images/icons/sports/cricket.svg");
  --icon-box: 20px;
  --icon-size: 20px;
}
.i-dart {
  --icon-src: url("https://static-hep.hepbet-static.workers.dev/sass/images/icons/sports/dart.svg");
  --icon-box: 20px;
  --icon-size: 20px;
}
.i-golf {
  --icon-src: url("https://static-hep.hepbet-static.workers.dev/sass/images/icons/sports/golf.svg");
  --icon-box: 20px;
  --icon-size: 20px;
}
.i-rugby {
  --icon-src: url("https://static-hep.hepbet-static.workers.dev/sass/images/icons/sports/rugby.svg");
  --icon-box: 20px;
  --icon-size: 20px;
}
.i-pickleball {
  --icon-src: url("https://static-hep.hepbet-static.workers.dev/sass/images/icons/sports/pickleball.svg");
  --icon-box: 20px;
  --icon-size: 20px;
}
.i-baseball {
  --icon-src: url("https://static-hep.hepbet-static.workers.dev/sass/images/icons/sports/baseball.svg");
  --icon-box: 20px;
  --icon-size: 20px;
}
.i-biathlon {
  --icon-src: url("https://static-hep.hepbet-static.workers.dev/sass/images/icons/sports/biathlon.svg");
  --icon-box: 20px;
  --icon-size: 20px;
}
.i-globe {
  --icon-src: url("https://static-hep.hepbet-static.workers.dev/sass/images/icons/sports/globe.svg");
  --icon-box: 20px;
  --icon-size: 20px;
}
.i-snooker {
  --icon-src: url("https://static-hep.hepbet-static.workers.dev/sass/images/icons/sports/snooker.svg");
  --icon-box: 20px;
  --icon-size: 20px;
}
.i-angola {
  --icon-src: url("https://static-hep.hepbet-static.workers.dev/sass/images/icons/flags/angola.svg");
  --icon-box: 20px;
  --icon-size: 20px;
}
.i-argentina {
  --icon-src: url("https://static-hep.hepbet-static.workers.dev/sass/images/icons/flags/argentina.svg");
  --icon-box: 20px;
  --icon-size: 20px;
}
.i-australia {
  --icon-src: url("https://static-hep.hepbet-static.workers.dev/sass/images/icons/flags/australia.svg");
  --icon-box: 20px;
  --icon-size: 20px;
}
.i-brazil {
  --icon-src: url("https://static-hep.hepbet-static.workers.dev/sass/images/icons/flags/brazil.svg");
  --icon-box: 20px;
  --icon-size: 20px;
}
.i-canada {
  --icon-src: url("https://static-hep.hepbet-static.workers.dev/sass/images/icons/flags/canada.svg");
  --icon-box: 20px;
  --icon-size: 20px;
}
.i-england {
  --icon-src: url("https://static-hep.hepbet-static.workers.dev/sass/images/icons/flags/england.svg");
  --icon-box: 20px;
  --icon-size: 20px;
}
.i-estonia {
  --icon-src: url("https://static-hep.hepbet-static.workers.dev/sass/images/icons/flags/estonia.svg");
  --icon-box: 20px;
  --icon-size: 20px;
}
.i-european-union {
  --icon-src: url("https://static-hep.hepbet-static.workers.dev/sass/images/icons/flags/european-union.svg");
  --icon-box: 20px;
  --icon-size: 20px;
}
.i-france {
  --icon-src: url("https://static-hep.hepbet-static.workers.dev/sass/images/icons/flags/france.svg");
  --icon-box: 20px;
  --icon-size: 20px;
}
.i-germany {
  --icon-src: url("https://static-hep.hepbet-static.workers.dev/sass/images/icons/flags/germany.svg");
  --icon-box: 20px;
  --icon-size: 20px;
}
.i-india {
  --icon-src: url("https://static-hep.hepbet-static.workers.dev/sass/images/icons/flags/india.svg");
  --icon-box: 20px;
  --icon-size: 20px;
}
.i-italy {
  --icon-src: url("https://static-hep.hepbet-static.workers.dev/sass/images/icons/flags/italy.svg");
  --icon-box: 20px;
  --icon-size: 20px;
}
.i-kazakhstan {
  --icon-src: url("https://static-hep.hepbet-static.workers.dev/sass/images/icons/flags/kazakhstan.svg");
  --icon-box: 20px;
  --icon-size: 20px;
}
.i-lebanon {
  --icon-src: url("https://static-hep.hepbet-static.workers.dev/sass/images/icons/flags/lebanon.svg");
  --icon-box: 20px;
  --icon-size: 20px;
}
.i-malaysia {
  --icon-src: url("https://static-hep.hepbet-static.workers.dev/sass/images/icons/flags/malaysia.svg");
  --icon-box: 20px;
  --icon-size: 20px;
}
.i-mexico {
  --icon-src: url("https://static-hep.hepbet-static.workers.dev/sass/images/icons/flags/mexico.svg");
  --icon-box: 20px;
  --icon-size: 20px;
}
.i-myanmar {
  --icon-src: url("https://static-hep.hepbet-static.workers.dev/sass/images/icons/flags/myanmar.svg");
  --icon-box: 20px;
  --icon-size: 20px;
}
.i-netherlands {
  --icon-src: url("https://static-hep.hepbet-static.workers.dev/sass/images/icons/flags/netherlands.svg");
  --icon-box: 20px;
  --icon-size: 20px;
}
.i-new-zealand {
  --icon-src: url("https://static-hep.hepbet-static.workers.dev/sass/images/icons/flags/new-zealand.svg");
  --icon-box: 20px;
  --icon-size: 20px;
}
.i-paraguay {
  --icon-src: url("https://static-hep.hepbet-static.workers.dev/sass/images/icons/flags/paraguay.svg");
  --icon-box: 20px;
  --icon-size: 20px;
}
.i-peru {
  --icon-src: url("https://static-hep.hepbet-static.workers.dev/sass/images/icons/flags/peru.svg");
  --icon-box: 20px;
  --icon-size: 20px;
}
.i-portugal {
  --icon-src: url("https://static-hep.hepbet-static.workers.dev/sass/images/icons/flags/portugal.svg");
  --icon-box: 20px;
  --icon-size: 20px;
}
.i-south-korea {
  --icon-src: url("https://static-hep.hepbet-static.workers.dev/sass/images/icons/flags/south-korea.svg");
  --icon-box: 20px;
  --icon-size: 20px;
}
.i-spain {
  --icon-src: url("https://static-hep.hepbet-static.workers.dev/sass/images/icons/flags/spain.svg");
  --icon-box: 20px;
  --icon-size: 20px;
}
.i-tanzania {
  --icon-src: url("https://static-hep.hepbet-static.workers.dev/sass/images/icons/flags/tanzania.svg");
  --icon-box: 20px;
  --icon-size: 20px;
}
.i-turkey {
  --icon-src: url("https://static-hep.hepbet-static.workers.dev/sass/images/icons/flags/turkey.svg");
  --icon-box: 20px;
  --icon-size: 20px;
}
.i-united-kingdom {
  --icon-src: url("https://static-hep.hepbet-static.workers.dev/sass/images/icons/flags/united-kingdom.svg");
  --icon-box: 20px;
  --icon-size: 20px;
}
.i-united-states {
  --icon-src: url("https://static-hep.hepbet-static.workers.dev/sass/images/icons/flags/united-states.svg");
  --icon-box: 20px;
  --icon-size: 20px;
}
.i-uruguay {
  --icon-src: url("https://static-hep.hepbet-static.workers.dev/sass/images/icons/flags/uruguay.svg");
  --icon-box: 20px;
  --icon-size: 20px;
}
.i-uzbekistan {
  --icon-src: url("https://static-hep.hepbet-static.workers.dev/sass/images/icons/flags/uzbekistan.svg");
  --icon-box: 20px;
  --icon-size: 20px;
}
.i-vietnam {
  --icon-src: url("https://static-hep.hepbet-static.workers.dev/sass/images/icons/flags/vietnam.svg");
  --icon-box: 20px;
  --icon-size: 20px;
}
.i-white {
  --icon-color: #ffffff;
}

.i-gray {
  --icon-color: #bccbdc;
}

.i-cyan {
  --icon-color: #0febff;
}
