@use "abstracts" as *;

.layout-content-holder-bc {
	@include default-gap-column;

	--content-nav-extra: #{layout(control-height)};
	$pad-top: "var(--mobile-header-navigation-height) + var(--dynamic-header) + var(--mobile-self-exclusion-height) + var(--content-nav-extra)";
	padding-top: calc(#{$pad-top}) !important;

	.has-sub-navigation & {
		--content-nav-extra: 48px;
	}

	@include on-classes($root-pad-extra-top, $as-parent: true) {
		padding-top: calc(#{$pad-top} + #{space(default-spacing)}) !important;
	}

	.hm-row-bc {
		margin-top: 0 !important;
	}
}

.product-banner-container-bc {
	padding: 0 var(--padding-page-aside) !important;
	gap: space(small-spacing) !important;
}

@include on-classes($content-pad-x) {
	padding: 0 var(--fds-ref-spacing-large) !important;
}
