@use "sass:meta";
@use "abstracts" as *;
@use "fonts";

#root {
	@include meta.load-css("nav");
	@include meta.load-css("header");
	@include meta.load-css("home");
	@include meta.load-css("layout");
	@include meta.load-css("components/in-root");

	.btn {
		span {
			@include first-letter-capitalize;
		}

		&.register {
			padding: space(medium-spacing);
		}
	}
}

html.is-mobile,
html.is-mobile body {
	@include theme-colors;
	@include theme-vars($layout);
}

:focus-visible {
	outline: none !important;
}

* {
	-webkit-tap-highlight-color: transparent !important;
}
