@use "sass:meta";
@use "abstracts" as *;
@use "fonts";
@use "header";
@use "layout";
@use "home";
@use "components";

#root {
	@include meta.load-css("nav");
}

html.is-mobile,
html.is-mobile body {
	@include theme-colors;
	@include theme-vars($layout);
}

.btn {
	span {
		@include first-letter-capitalize;
	}

	&.register {
		padding: space(medium-spacing);
	}
}

:focus-visible {
	outline: none !important;
}

* {
	-webkit-tap-highlight-color: transparent !important;
}
