@use "abstracts" as *

.layout-bc
	&.navigation-is-visible 
		.tab-nav-item-bc
			&.menu
				background: transparent !important

.layout-navigation-holder-bc
	height: 56px !important;

	.tab-navigation-w-bc
		background: color-rgba-rgb(menu, .92) !important
		border: none
		box-shadow: inset 0 1px 0 0 color-hex(border-blue) !important

		.tab-nav-item-bc
			color: color-hex(ds-chip-gray) !important
			padding: 0
			gap: 5px

			&.count-odd-animation
				&::after
					height: 12px !important;
					line-height: 12px !important;
					border-radius: radius(small) !important;
					font-size: 6px !important;
					padding: 0 space(x-small-spacing) !important;

			.tab-nav-title-bc
				@include type(10px, 600, 12px, -0.01em)
				height: 12px
				text-transform: lowercase
				&:first-letter
					text-transform: uppercase

			@each $key, $name in $tab-nav-icons
				@if $key == button
					&:is(button)
						order: 4
						@include tab-nav-icon($name)
				@else if $key == menu
					&.menu
						order: 3
						@include tab-nav-icon($name)
				@else
					&[href*="#{$key}"]
						@include tab-nav-icon($name)

			// Live / Canlı
			&[href*="/sports/live/event-view"]
				order: 1

			// Pre-Match / Spor
			&[href*="/sports/pre-match/event-view"]
				order: 2

			// Casino > Games / Oyunlar
			&[href*="/games/home"]
				order: 2

			// Live Casino / Canlı Casino
			&[href*="/live-casino/home"]
				order: 4

			// Casino / Slots
			&[href*="/casino/slots"]
				order: 5

.m-navigation-container-bc
	.m-nav-title-row-bc
		height: 52px
	
	.m-nav-info-w-container-bc
		padding: space(default-spacing)

		.m-nav-collapsed-container-bc
			padding: 0

			.m-block-nav-items-bc
				padding: 0
				gap: 0

				.app-nav-arrow-block-bc
					.app-nav-link
						background: color-hex(market-blue)
						box-shadow: inset 0 -1px 0 0 color-hex(border-blue) 

						.m-nav-items-list-item-bc
							background: transparent
							height: 52px

							.m-nav-list-item-title-bc
								@include type(15px, 600, 24px, -0.01em)
								color: color-hex(ds-chip-gray) !important
