@use "abstracts" as *;

.hdr-navigation-scrollable-content {
	align-items: center !important;
}

.hdr-navigation-scrollable-bc {
	&::before,
	&::after {
		display: none;
	}

	.overlay-sliding-wrapper-bc & {
		.hdr-navigation-scrollable-content {
			gap: space(small-spacing) !important;

			.hdr-navigation-link-bc {
				&::before {
					display: none !important;
				}
			}
		}
	}

	.hdr-navigation-scrollable-content {
		padding-inline-start: space(default-spacing) !important;
		padding-inline-end: space(default-spacing) !important;
	}

	// Main Navigation
	&:nth-child(1) {
		.hdr-navigation-scrollable-content {
			@include nav-main-icons($nav-items);
		}

		.hdr-navigation-link-bc {
			background: color-rgba-rgb(menu, 1) !important;

			&:first-child {
				padding-left: 0 !important;
			}

			&:last-child {
				padding-right: 0 !important;
			}
		}
	}

	// Sub Navigation
	&:nth-child(2) {
		height: calc(var(--mobile-header-navigation-height) + 4px) !important;

		nav {
			gap: space(small-spacing) !important;
		}

		.hdr-navigation-scrollable-content {
			@include nav-sub-icons($nav-sub-items);
		}

		.hdr-navigation-link-bc {
			background-color: color-rgba-rgb(header, 1) !important;
			border-radius: radius();
			border: 1px solid color-hex(nav-border-blue);
			width: fit-content !important;
			height: 24px !important;
			line-height: 1 !important;

			&.active {
				border: none !important;
				background-color: color-hex(main-color) !important;
			}

			&::before {
				content: "" !important;
				position: relative !important;
				width: 12px !important;
				height: 12px !important;
			}
		}
	}

	.hdr-navigation-link-bc {
		@include reset-bg-color;
		@include reset-text-transform;
		@include reset-box-shadow;

		height: fit-content !important;
		padding: 0 space(small-spacing) !important;
		gap: space(small-spacing) !important;

		&.active {
			left: unset !important;
			position: relative !important;
		}

		&::after {
			right: -5px !important;
			z-index: 1 !important;
		}

		&::before {
			content: "" !important;
			position: relative !important;
			width: 24px !important;
			height: 24px !important;
		}
	}
}
