.form-control-input-bc {
	background: @surface-base !important;
	border: solid 1px @surface-elevated !important;
}

.form-control-select-bc {
	background: @surface-base !important;
}

.form-control-select-bc,
.form-control-input-bc:read-only {
	color: @text-strong !important;
}

.form-control-title-bc {
	color: @text-hint !important;
}

.multi-select-bc.disabled {
	opacity: 0.8 !important;
}

.unlockRequiredField .form-control-label-bc {
	border-color: @highlight !important;
	box-shadow: 0 0 20px -10px @highlight !important;
}

.entrance-f-error-message-bc {
	.hb-bg-transparent();
	justify-content: start !important;
	.hb-text(20px; 20px; 400; @text-strong);
	padding: 0 !important;
}
