@use "../../../abstracts" as *;

.special-games-container {
	margin: 0 !important;

	.upcoming-games {
		&-wrapper {
			display: flex;
			flex-direction: column;
			gap: space(medium-spacing);

			.time-filter {
				&-button-bc {
					height: 32px;
					border-color: color-hex(border-blue) !important;
					background: color-rgba-rgb(header, 1) !important;

					&.a-white {
						background: color-hex(main-color) !important;
						@include linear-gradient-border(color-hex(white-color), 0.12);
						border: none !important;
						color: color-hex(white-color) !important;
					}
				}
			}
		}
		&-container {
			display: flex;
			flex-direction: column;
			gap: space(medium-spacing);

			& > .horizontalList {
				.horizontal-sl {
					&-list-container {
						padding-top: gap(small) !important;
					}

					&-item-bc {
						padding: 0 !important;
						height: 44px;
						min-width: 44px;
						background: color-hex(border-blue) !important;

						&.active {
							background: color-hex(nav-border-blue) !important;
							z-index: 2;
						}
					}

					&-icon-bc {
						height: 20px;
						font-size: 20px;

						& + .horizontal-sl-title-bc {
							display: none !important;
						}
					}

					&-count-bc {
						background: color-hex(ds-button-blue) !important;
						top: -2px !important;
						right: -2px !important;
						left: auto !important;
						padding: 0 4px !important;
						height: 16px;
						border-radius: radius(small);
						line-height: 1;
						display: flex;
						justify-content: center;
						align-items: center;
					}
				}
			}

			& > .market-filter-scrollable-navigation-bc-holder {
				margin-bottom: 0 !important;

				.horizontalList {
					.horizontal-sl {
						&-list-container {
							padding: 0 !important;
						}
						&-list {
						}
						&-item-bc {
							border-radius: 0 !important;
							height: 32px !important;
							background: color-hex(market-blue) !important;
							margin-inline-start: 0 !important;
							&::before {
								display: none !important;
							}

							&.active {
								@include reset-box-shadow;
								background: color-hex(border-blue) !important;
							}
						}
					}
				}
			}
		}

		.pm-body-bc {
			background: color-hex(border-blue) !important;
			.internalBetBuilderIcon {
				color: color-hex(cyan) !important;
			}
		}
	}

	.popular-matches-bc {
		.horizontalList {
			.horizontal-sl {
				&-list-container {
					padding-top: gap(small) !important;
				}

				&-item-bc {
					padding: 0 !important;
					height: 44px;
					min-width: 44px;
					background: color-hex(border-blue) !important;

					&.active {
						background: color-hex(nav-border-blue) !important;
						z-index: 2;
					}
				}

				&-icon-bc {
					height: 20px;
					font-size: 20px;

					& + .horizontal-sl-title-bc {
						display: none !important;
					}
				}

				&-count-bc {
					background: color-hex(ds-button-blue) !important;
					top: -2px !important;
					right: -2px !important;
					left: auto !important;
					padding: 0 4px !important;
					height: 16px;
					border-radius: radius(small);
					line-height: 1;
					display: flex;
					justify-content: center;
					align-items: center;
				}
			}
		}

		.c-segment-holder-title {
			background: color-hex(border-blue) !important;
		}

		.marketSlider {
			background: color-hex(market-blue) !important;
		}
	}

	.expressWidget {
		background-image: url("#{$cdn-images-url}box-shine.png");
		background-size: cover;
		background-position: 110px -200px;
		background-repeat: no-repeat;
		background-color: color-rgba(main-color, 0.09);

		.expressWidgetWrapperBonus {
			background: color-hex(main-color);
			color: color-hex(white-color);

			&::before {
				border-color: color-hex(main-color) transparent transparent color-hex(main-color);
			}
		}

		.expressWidgetTitle {
			color: color-hex(link-gray);
		}

		.expressWidgetItem {
			gap: 20px;
			.expressWidgetDayTime,
			.expressWidgetTeamName {
				color: color-hex(link-gray);
			}

			.expressWidgetMarketName,
			.expressWidgetMarketOdd {
				color: color-hex(white-color);
			}

			.expressInfo {
				display: flex;
				transform: rotate(45deg);
				position: relative;

				.expressInfoIcon {
					display: flex;
					font-size: 0 !important;
					line-height: 0 !important;

					&::before {
						content: "" !important;
						width: 8px;
						height: 8px;
						display: flex;
						background: color-hex(cyan);
						position: relative;
					}
				}
			}
		}

		.expressWidgetBetslip {
			.bs-bet-i-b-coefficient-bc {
				color: color-hex(cyan);
			}

			.bs-bet-i-b-s-i-block-bc {
				background: color-hex(nav-border-blue);
			}

			.bet-button-wrapper-bc {
				.btn {
					background: color-hex(nav-border-blue) !important;
				}
			}
		}
	}
}
