@use "sass:map";

$spacing: (
	x-small-spacing: 2px,
	mini-spacing: 4px,
	tiny-spacing: 6px,
	small-spacing: 8px,
	compact-spacing: 10px,
	medium-spacing: 12px,
	relaxed-spacing: 14px,
	default-spacing: 16px,
);

$gap: (
	small: 4px,
	default: 12px,
);

$radius: (
	small: 2px,
	medium: 4px,
	default: 6px,
	large: 8px,
);
