@use "../../abstracts" as *;

.overlay-sliding-wrapper-bc {
	.u-i-common-content {
		.componentFilterWrapper-bc {
			.componentFilterLabel-bc {
				background: color-hex(market-blue);
				border: solid 1px color-hex(nav-border-blue);
			}

			.componentFilterBody-bc {
				.filter-form-w-bc {
					background: rgba(var(--b), 1);
					padding: 10px 0;

					.form-control-input-bc {
						background: color-hex(market-blue);
						border: solid 1px color-hex(nav-border-blue);
					}

					.u-i-p-c-footer-bc {
						margin-top: 0;
						.btn {
							background: color-hex(main-color);
							color: color-hex(white-color);
						}
					}
				}
			}
		}
	}

	.deposit-page,
	.withdraw-page {
		.m-block-nav-items-bc {
			grid-gap: space(small-spacing);

			.m-nav-items-list-item-bc {
				padding: 0;

				.nav-ico-w-row-bc {
					background: transparent;
					height: 100%;
					border-radius: radius();
					overflow: hidden;

					img {
						max-height: 100%;
						max-width: 100%;
					}
				}
			}
		}

		& + .overlay-sliding-wrapper-bc {
			.payment-details-scrollable-container {
				height: 100%;

				.payment-info-bc {
					height: 100%;
					padding: space(default-spacing);

					.payment-info-content {
						height: 100%;
						display: flex;
						flex-direction: column;

						.expandableContentWrapper {
							padding: space(small-spacing);
							background: rgba(15, 235, 255, 0.04);
							border: 1px solid rgba(15, 235, 255, 0.12);

							p {
								margin-bottom: 0;
								color: color-hex(white-color);
								@include type(12px, 400, 16px);
							}
						}

						.withdraw-form-l-bc {
							border-bottom: none;
							padding: 0;
							flex: 1;

							form {
								height: 100%;
								display: flex;
								flex-direction: column;
								.u-i-p-c-footer-bc {
									margin-top: auto;
									.btn {
										@include form-btn();
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
