@use "../../abstracts" as *;

.overlay-sliding-wrapper-bc {
	.u-i-common-content {
		.componentFilterWrapper-bc {
			.componentFilterLabel-bc {
				background: color-hex(market-blue);
				border: solid 1px color-hex(nav-border-blue);
			}

			.componentFilterBody-bc {
				.filter-form-w-bc {
					background: rgba(var(--b), 1);
					padding: 10px 0;

					.form-control-input-bc {
						background: color-hex(market-blue);
						border: solid 1px color-hex(nav-border-blue);
					}

					.u-i-p-c-footer-bc {
						margin-top: 0;
						.btn {
							background: color-hex(main-color);
							color: color-hex(white-color);
						}
					}
				}
			}
		}
	}

	.deposit-page,
	.withdraw-page {
		.m-block-nav-items-bc {
			grid-gap: space(small-spacing);

			.m-nav-items-list-item-bc {
				padding: 0;

				.nav-ico-w-row-bc {
					background: transparent;
					height: 100%;
					border-radius: radius();
					overflow: hidden;

					img {
						max-height: 100%;
						max-width: 100%;
					}
				}
			}
		}
	}
}
